@page "/"


@if (SearchTerm == "")
{
    <title>Homeless Resources App</title>

    <div style="height:100vh;display:flex;justify-content:center;align-items: center;">
        <div class="container">
            <h1>Homeless Resources</h1>
            <button @onclick="@(() => SetMapInfo("homeless shelter", "Nearby Shelter"))" id="sheltersBtn">Nearby Shelters</button>
            <button @onclick="@(() => SetMapInfo("food bank", "Nearby Food Resources"))" id="foodBanksBtn">Nearby Food Banks</button>
            <button @onclick="@(() => SetMapInfo("homeless government resources", "Government Assistance"))" id="governmentAssistanceBtn">Government Assistance</button>
        </div>
    </div>
}
else
{
    <MapInfo SearchTerm="@SearchTerm" Title="@MapInfoTitle"></MapInfo>
}

@code
{
    private string SearchTerm = "";
    private string MapInfoTitle = "";

    private void SetMapInfo(string searchTerm, string mapInfoTitle)
    {
        SearchTerm = searchTerm;
        MapInfoTitle = mapInfoTitle;

        InvokeAsync(() => StateHasChanged());
    }
}